.el-container {
  // background-color: red;
}
.side {
  background-color: #fff;
  font-size: 14px;
  height: 900px;
  padding-left: 20px;
  padding-top: 20px;
  .sideMsg {
    line-height: 30px;
  }
}
.main {
  margin: 0 200px 0 235px;
}
.main {
  margin-left: 10px;
  padding: 0;
  padding-left: 10px;
  .banner {
    padding-left: 100px;
    background-color: #fff;
    text-align-last: center;
    .el-menu--horizontal {
      .el-menu-item {
        width: 14%;
        font-weight: bold;
        font-size: 16px;
        font-family: '微软雅黑';
      }
    }
  }
  .from {
    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
  }
  .el-radio {
    margin-left: 30px;
  }
  .checkbox {
    margin-top: 20px;
  }
  .clear {
    display: inline-block;
    margin: 0 30px 0 290px;
  }
  .search {
    display: inline-block;
  }
  .el-form-item {
    margin-bottom: 7px;
  }
  .el-form--inline .el-form-item__content .el-form-item__content {
    line-height: 25px;
  }
}
.right {
  margin-left: 10px;
  padding-top: 20px;
  .right-content {
    width: 298px;
    height: 30px;
    border: 1px solid #3a8ee6;
    text-align: center;
    line-height: 30px;
    margin: 0 100px 0 31px;
    border-radius: 5px;
  }
  .date {
    .block {
      margin: 29px 0 10px 29px;
    }
  }
  p {
    margin-left: 30px;
    margin-bottom: 5px;
  }
  #textarea {
    .el-textarea {
      width: 88%;
      margin-left: 20px;
    }
  }
}
