.zf-index {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  /* // 左侧边栏 */
  /* // 主内容部分 */
  /* // 右侧边栏 */
}
.zf-index .el-aside {
  background-color: #fff;
  border-right: #ccc solid 2px;
  padding-left: 10px;
}
.zf-index .el-aside ul {
  padding-left: 0;
}
.zf-index .el-aside li > p:nth-of-type(1) {
  color: #666;
  display: inline-block;
  width: 80px;
}
.zf-index .el-aside li > p:nth-of-type(2) {
  display: inline-block;
  width: 120px;
}
.zf-index .el-aside .top-main /deep/ .el-input {
  width: 120px;
}
.zf-index .el-main {
  background-color: #fff;
  padding: 10px;
  /* // 转租信息 */
  /* // ZU租约信息 */
}
.zf-index .el-main .title {
  background-color: #3399ff !important;
  height: 52px;
  font-size: 20px;
  line-height: 52px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}
.zf-index .el-main .type .el-button {
  margin-right: 50px;
}
.zf-index .el-main h3 {
  padding-left: 10px;
  color: #000;
}
.zf-index .el-main .gbc {
  background-color: red;
}
.zf-index .el-main .one {
  border: 1px solid #99ccff;
  background-color: #fff;
  margin: 20px;
}
.zf-index .el-main .one .text {
  width: 100%;
  text-align: center;
  margin: 0;
}
.zf-index .el-main .one li {
  margin-top: 20px;
  margin-left: 85px;
}
.zf-index .el-main .one li h5 {
  margin-bottom: 5px;
}
.zf-index .el-main .one li p {
  width: 100%;
  text-align-last: left;
  display: block;
  margin: 1px;
}
.zf-index .el-main .one li p:nth-of-type(1),
.zf-index .el-main .one li p:nth-of-type(2) {
  font-size: 10px;
  color: #666;
}
.zf-index .el-main .one .retreat * {
  margin: 0;
  padding: 0;
}
.zf-index .el-main .one .retreat .top {
  border: 1px solid #ccc;
  width: 180px;
  margin-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
}
.zf-index .el-main .one .retreat h3 {
  margin: 15px 0;
}
.zf-index .el-main .one .retreat h5 {
  margin-top: 15px;
  color: #0000ff;
}
.zf-index .el-main .one .retreat p:nth-of-type(1),
.zf-index .el-main .one .retreat p:nth-of-type(2) {
  font-size: 10px;
  color: #666;
}
.zf-index .el-main .sublet .cen .el-tag {
  width: 50px;
  margin-left: 20px;
}
.zf-index .el-main li {
  padding-bottom: 10px;
}
.zf-index .el-main p {
  display: inline-block;
  width: 150px;
  text-align: right;
}
.zf-index .el-main .el-tag {
  width: 150px;
  text-align: center;
  margin-right: 20px;
  background-color: #fff;
}
.zf-index .el-aside:nth-of-type(2) {
  background-color: #f2f2f2;
  padding-right: 10px;
  position: relative;
}
.zf-index .el-aside:nth-of-type(2) > p {
  text-align: center;
}
.zf-index .el-aside:nth-of-type(2) /deep/ .el-textarea__inner {
  height: 300px;
}
.zf-index .el-aside:nth-of-type(2) > .ce {
  padding-top: 10px;
}
.zf-index .el-aside:nth-of-type(2) .but {
  position: absolute;
  bottom: 0;
  left: 0;
}
.zf-index .el-aside:nth-of-type(2) .el-textarea__inner {
  min-height: 500px;
}
